# Tool files
/workspaces/docs-generator/docs/description/*.md

# Configuration files
.codarcyrc
.eslintcache

# IDE and editor directories
.DS_Store
.idea
.vscode

# Build outputs
/dist
tsconfig.tsbuildinfo

# Dependencies
/node_modules
/workspaces/*/node_modules

# Test directories
/tests
